<p>
  <strong>Title:</strong>
  <%= @field.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @field.text %>
</p>
<h2>Projects</h2>
<% @field.projects.each do |f| %>
  <p>
    <strong>prof:</strong>
    <%= f.prof %>
  </p>
 
  <p>
    <strong>Project:</strong>
    <%= f.body %>
  </p>
<% end %>

 <h2>Add a project:</h2>
<%= form_for([@field, @field.projects.build]) do |f| %>
  <p>
    <%= f.label :prof %><br>
    <%= f.text_field :prof %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<p><%= link_to 'Edit', edit_field_path(@field) %></p>
<p><%= link_to 'New field', new_field_path %></p>
<p><%= link_to 'All fields', fields_path %></p>
